<header>
  <nav class="navbar navbar-dark bg-dark">
          <div class="col-sm">
              <a class="navbar-brand" [routerLink]="['/']">{{ appTitle }}</a>
              <a class="navbar-brand" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
              <a class="navbar-brand" [routerLink]="['/about']">About</a>
              <a class="navbar-brand" [routerLink]="['/contact']">Contact</a>
          </div>
          <div class="col-sm">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"> <fa name="search" ></fa></span>
                   
                  </div>
                  <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
              </div>          
        </div>
    
    
    </nav>
  </header>